// color variables
$primary: rgb(13, 243, 151);
$secondry: rgb(146, 5, 255);
$error: rgb(224, 48, 48);
$info: rgb(255, 247, 0);

//colors palette
$colors: (
  "primary": $primary,
  "secondary": $secondry,
  "error": $error,
  "info": $info,
  "red": rgb(255, 0, 0),
  "blue": rgb(0, 42, 255),
  "orange": rgb(255, 111, 0),
  "green": rgb(21, 255, 0),
  "yellow": rgb(246, 255, 0),
  "purple": rgb(255, 0, 242),
  "grey": rgb(78, 78, 78),
  "black": black,
  "white": white,
);

.test-btn {
  background-color: map-get($colors, "purple");
}

// @debug map-get($colors, "info");
// @debug map-has-key($colors, "purple");
// @debug map-has-key($colors, "sky");
// @debug map-remove($colors, "primary");
// @debug map-merge(
//   $colors,
//   (
//     "pink": rgb(255, 173, 252),
//   )
// );

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
